
.one{text-align: center; margin:1% 1% 1% 1%; border:purple 2px dotted; padding:10% 20% 5px 20%;}
.two{text-align: center; color: green; font-size: 10px}

.bigtext{color: orange; font-size: 35px;}
.redword{color: red; font-size: 35px; }

.right{text-align: right; color: purple; font-size: 10px;}
.yellow{ color: yellow;}
